<ion-header>
  <ion-toolbar>
    <ion-title>Perfil do Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-card class="card-center">
    <ion-card-content class="ion-text-center">
      <ion-avatar class="avatar-container">
        <img src="assets/icon/WhatsApp Image 2025-04-05 at 02.31.46.jpeg" alt="Foto do Aluno" />
      </ion-avatar>

      <h2 class="name">Gabriel Felipe</h2>
      <p class="code">Código: 301M</p>
    </ion-card-content>
  </ion-card>
</ion-content>
